

{
    box-sizing: border-box;
}

@import "/assets/css/my-markdown.css"; // 'monokai' as example



.body {
    font-family: Arial, Helvetica, sans-serif;
    top: 10px;
    max-width:65px;
    padding: 10px;
}

.topnav {
    background-color:#767676;
    overflow-x: hidden;
    position: fixed;
    top: 0px;
    width: 100%;
    clear: both;
}

.topnav a {
    float: left;
    color: rgb(255, 255, 255);
    text-align: center;
    display: block;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.topnav span {
    float: right;
    color: rgb(255, 255, 255);
    text-align: center;
    display: block;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.topnav a:hover {
    color: #800000;
}

.active {
    color: #800000;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;
}

.side {
    -ms-flex: 30%;
    flex: 30%;
    background-color: #ffffff;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.main {
    text-align: left;
    flex: 70%;
    background-color: white;
    padding: 20px;
    margin:30px auto;
    max-width:800px;
    font-family: Arial, Helvetica, sans-serif;
}

.responsive {
    max-width: 100%;
    height: auto;
}

.footer-box img {
  display: inline;
}

.footer-box {
  width:100%;
  float: none !important;
}

#text-8 {
  text-align: center;
}

.footer {
    padding: 5px;
    position: relative;
    text-align: center;
    background: #ddd;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    left: 0;
    bottom: 0;
}
