<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width , initial-scale=1">
  </head>
  <body>

    <div class="topnav" id="myTopnav">
        <a href="/index.html">Home</a>
        <a href="/research.html">Research</a>
        <a href="/computing.html">Computing</a>
        <a href="/teaching.html">Teaching</a>
        <a href="/assets/cv/wiemann_CV_2021_11_06.pdf">CV</a>
        <a style="float:right" href="/contact.html">Contact</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
    </div>

    <div class="content">

      {{ content }}

    </div>

    <div class="footer">
        <img src="/assets/images/universityofchicagoseal.png" alt="University of Chicago Seal" style="width:65px">
    </div>

  </body>
</html>
